/* Typography */

html {

	font-family: 'Reem Kufi', sans-serif;
}



@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main {
	padding-top: 50px;
	padding-bottom: 50px;
}

main>.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main>.tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.65rem;
	height: 2.65rem;
}

.blog-title {
	color: rgb(42, 165, 155);
	text-decoration: none;
}

.freebies {
	color: rgb(42, 165, 155);
	text-decoration: none;
	font-size: 0.8em;
	font-weight: 600;


}

.card {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;

}

.card:hover {
	box-shadow: 0 16px 32px 2px rgba(0, 0, 0, 0.3);
}

.container {
	padding: 2px 16px;
	align-items: center;
}


html {
	scroll-behavior: smooth;
}



.column {

	float: left;
	width: 50%;
	padding: 0 30px 30px 30px;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.button {
	border: none;
	background: #1eb600;
	color: #ffffff !important;
	font-weight: 100;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.button:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.3s ease 0s;
}



.column-mob {

	float: left;
	width: 33.33%;
	padding: 0 30px 30px 30px;
}